body {
    align-items: center;
    background-color: rgb(30, 30, 30);
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: both mandatory;
}

header {
    background-color: rgb(40, 40, 40);
    min-width: 100vw;
    height: 128px;
}

nav ul li{
    display: inline-flex;
    color: rgb(180, 180, 180);
    font-size: 128px;
}

main {
    display: flex;
}

.container {
    background-color: rgb(40, 40, 40);
    width: fit-content;
    height: fit-content;
    margin: 64px;
    padding: 96px;
    border-radius: 32px;
    scroll-snap-align: center;
    }

img {
    display: block;
    margin: auto;
    height: 80vh;
    width: auto;
    border-radius: 16px;
}

h1 {
    margin: auto;
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: left;
}
