nav ul li{
    display: inline-block;
}

body {
    width: 90vw;
    height: 90vh;
    margin: 96px;
    background-color: rgb(30, 30, 30);
}

.container {
    display: flex;
    background-color: rgb(40, 40, 40);
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-left: auto;
    margin: 64px auto 64px auto;
    padding: 96px;
    border-radius: 32px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    }

img {
    display: block;
    margin: auto;
    height: 80vh;
    width: auto;
    border-radius: 16px;
    scroll-snap-align: center;
}

h1 {
    margin: auto;
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: left;
}
