body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container-v {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    }

.section-v {
    background-color: rgb(60, 60, 60);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    }

.container-h {
    display: flex;
    width: fit-content;
    height: fit-content;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    }
     
.section-h {
    background-color: rgb(60, 60, 60);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

h1 {
    font-size: 5vw;
}

img {
    width: 100vw;
    max-height: auto;
    padding: 4px;
}
