@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    height: 90vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.nav-bar {
/*    background-color: rgb(60, 60, 60);    */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

#nav-logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    transition: all 0.3s ease;
}

#nav-logo:hover {
    color: #A7A2A9;
    transition: all 0.3s ease;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    height: fit-content;
    width: fit-content;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #A7A2A9;
    color: #fff;
    transition: all 0.3s ease;
}

/*
@media screen and (max-width: 960px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
}
*/

.render {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.render-container {
    background-color: rgb(60, 60, 60);
    height: fit-content;
    width: fit-content;
    padding: 24px;
    margin: 16px;
    border-radius: 8px;
    scroll-snap-align: center;
}

img {
    height: 70vh;
    width: auto;
    border-radius: 4px;
}
